@tailwind base;
@tailwind components;
@tailwind utilities;

.open-sidebar .main-content{
    height: 100vh;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: scale(0.8) translateX(50%);
    transition: all 0.5s ease-in-out;
}